body {
  background-image: url("../public/img/bg.jpg");
  box-sizing: border-box;
  color: black;
}

header {
  text-align: center;
  border: 10px solid black;
  border-radius: 15px;
  font-size: 7rem;
  padding-left: 1vw;
}

span {
  color: brown;
  margin: 1vw;
}

.container {
  margin-top: 10vh;
}

p {  
  text-align: center;
}
